
img{
  border-radius: 50%;
}
/* 
.image-box{

  width: 50%;
  height: 50%;
  text-align: center;
} */
.image-box > p{
  
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 box-shadow: none;
}
.all-image > p{


  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 /* box-shadow: none; */
 color: white;
}

#all-page{
 
  width: 50%;
 
  margin-left: 20%;
  
} 

#nextPage{
  font-size: 30px;
}
#about-me{
  background:black;
  border: solid white;
  height: 50%;
  
}
.all-image > a{
  color:white;
}
#image-box > a:hover{
  text-decoration: underline white;
  color: blue;
  
}

img{
  border-radius: 50%;
}

.image-box{

  width: 50%;
  height: 50%;
  text-align: center;
}
.image-box > p{
  
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 box-shadow: none;
}
.all-image > p{


  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 /* box-shadow: none; */
 color: white;
}

#header{
  font-family: 'Creepster', cursive;
  font-size: 60px;
  text-align: center;
  color: white;
}
#all-page{
  
  vertical-align: left;
 
}
#nextPage:hover{
  color: green;
}
#nextPage{
  font-size: 30px;
}
#about-me{
  background: black;
}
.all-image > a{
  color:white;
}
#image-box > a:hover{
  text-decoration: underline white;

  
}
#fourth-image{
  margin-top: 10px;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
  margin-left: 5%;
  margin-top: 1%;
}
.fa-github{
  margin-top: 1%;
  margin-left: 5%; 
}
/* #parag1{
  margin-bottom:50% ;
margin: auto;
text-align: center;
color: white;
} */
#first-column{
  margin-top: 4%;
  margin-left: 10%;
}
#second-column{
  margin-top: 4%;
  margin-left: 10%;
}
#third-column{
  margin-top:4%;
  margin-left: 10%;
}
#fourth-column{
  margin-top: 4%;
  margin-left: 10%;
}

