
body {
  text-align: center;
}


img{
  border-radius: 50%;
}

.image-box{

  width: 50%;
  height: 50%;
  text-align: center;
}
.image-box > p{
  
  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 box-shadow: none;
}
.all-image > p{


  font-family: 'Bree Serif', serif;
  font-size: 15px;
  margin: 0;
  padding: 0px;
 /* box-shadow: none; */
 color: white;
}

#header{
  font-size: 80px;
  text-align: center;
  color: white;
}
#all-page{
  border: solid black;
  width: 50%;
  margin-left: 20%;
  
}
.all-image{

}
#nextPage{
  font-size: 30px;
}
#about-me{
  background: #333333;
}
.all-image > a{
  color:white;
}
#image-box > a:hover{
  text-decoration: underline white;
  color: blue;
  
}