body {
    text-align: center;
    max-width: 800px;
    background-image: url(/img/brick2.jpg);
    /* background-position: center; */
    background-size: 150%;
    color:white;
    height:420px;
}

img {
    z-index: -10;
   position: absolute;
   opacity: .08;
   top:15%;
   left: 40%;
}

#answer {
    font-family: 'Girassol', cursive;
    font-size: 20px;
    color: black;
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
    margin: 2%
    
}

#question {
    margin: 10% 10% 8% 10%;
    font-size: 35px;
    font-family: 'Girassol', cursive;
    -webkit-text-stroke: .5px rgb(233, 35, 35);
    text-shadow: 0px 0px 15px rgb(255, 0, 0);
    /* background-color: hsla(30, 5%, 33%, 0.3); */
    /* box-shadow: inset 0 0 10px #777777; */

}

button:hover {
box-shadow: 0 0 20px black;
background-color: rgb(167, 5, 5);
color: rgb(240, 214, 214);
transition-duration: 0.4s

}

button {
    padding: 5px;
    font-size: 20px;
    font-family: 'Creepster', cursive;
    margin: 2%;
    background-color: black;
    color: white;
    border-color:black;
    background-color: black;
    /* border-radius: 15px; */
    border-radius: 40% 60% 90% 100%;
    
 
}