body {
    margin: 0;
    padding: 0;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.rain {
    height: 100vh;
    background: url(/img/rain.png);
    animation: animateRain .3s linear infinite;
}
.rain::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background:#fff;
    animation: lightning .3s infinite;
    opacity: 0;
}

@keyframes animateRain {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 20% 100%;
    }
}



