body {
    text-align: center;
    background-image: url(../img/scorepageimg.jpg!d);
    background-position: center;
    background-size: 150%;

}

h1 {
    font-size: 2.5em;
    padding: 3%;
    font-family: 'Creepster', cursive;
    text-shadow: 0px 0px 15px rgb(220, 5, 5) ;

}

th {
    padding: 10%;
    font-family: 'Girassol', cursive;
    width: auto;
}

td {
    font-family: 'Girassol', cursive;
    padding: 2px;
}
div {
    width: 15%;
    margin: auto;
    text-align: center;
}
button {
    color: black;
    padding: 5px;
    font-size: 20px;
    font-family: 'Creepster', cursive;
    margin: 3%;
    background-color: rgba(223, 241, 195, 0.014);
    border-radius: 40% 40% 20% 20%;
    border: none;
    text-shadow: 0px 0px 15px rgb(220, 5, 5) ;
    outline: none;
    font-size: 1em;
}
